@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body{
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 154, 35);
}
.adopt{
  font-size:3rem;
  color:white;
  margin:5vh 0 3vh 0;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-dog{
  width:55vw;
  height: 35vh;
  margin:2vh 0 2vh 0;
  color:white;
  border-radius:10px;
  background-color: rgb(78, 78, 155);
  position: relative;
  padding:1.5vh 0 0 3vw;
}
.container-dog:hover{
  transform: scale(1.1);
  cursor:pointer;
}
.tulio{
  width:20vw;
  overflow: hidden;
  border-radius:10px;
  position: absolute;
  top:5vh;
  left:33vw;
  border:5px solid white;
}
.srd{
  width:20vw;
  overflow: hidden;
  border-radius:10px;
  position: absolute;
  top:5vh;
  left:33vw;
  border:5px solid white;
}
.pastor{
  width:20vw;
  overflow: hidden;
  border-radius:10px;
  position: absolute;
  top:5vh;
  left:33vw;
  border:5px solid white;
}
.container-cat{
  width:55vw;
  height: 35vh;
  margin:2vh 0 2vh 0;
  color:white;
  border-radius:10px;
  background-color: rgb(92, 85, 22);
  position: relative;
  padding:1.5vh 0 0 3vw;
}
.container-cat:hover{
  transform: scale(1.1);
  cursor:pointer;
}
.oliver{
  width:20vw;
  overflow: hidden;
  border-radius:10px;
  position: absolute;
  top:5vh;
  left:33vw;
  border:5px solid white;
}
.lola{
  width:20vw;
  overflow: hidden;
  border-radius:10px;
  position: absolute;
  top:5vh;
  left:33vw;
  border:5px solid white;
}
.garfield{
  width:15vw;
  height:25vh;
  overflow: hidden;
  border-radius:10px;
  position: absolute;
  top:5vh;
  left:33vw;
  border:5px solid white;
}
button{
  width:10vw;
  height:5vh;
  font-size: 1.2em;;
  color:white;
  margin:1vh 0 1vh 0;
  border:none;
  border-radius: 20px;
  background-color:rgb(24, 24, 46);
}
button:hover{
  transform: scale(1.1);
  cursor:pointer;
}
::-webkit-scrollbar{
  width:11px;
}
::-webkit-scrollbar-track{
  background:rgb(245, 154, 35);
  border-radius:30px;
}
::-webkit-scrollbar-thumb{
  width:7px;
  background:rgb(24, 24, 46);
  border-radius: 30px;
} 